:root {
    --negro: #172026;
    --blanco: #ffffff;
    --azul-claro: #5FCDD9;
    --azul-oscuro: #027373; 
    --azul: #04BFAD;
    --azul-agua-marina: #04BF9D;
    --font-title: 'Roboto Slab', serif;
    --font-text: 'Nunito Sans', sans-serif;

    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(52, 52, 52);
    --hovercolor: rgb(23, 23, 23);
    --width-collapsed: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #aca8a8;
    border-radius: 10px;
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

body {
    background-image: url("/assets/img/bit-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
    transition: all 500ms;
}

.body-expanded {
    margin-left: var(--width);
}

#main-container {
    color: var(--blanco);
}

#sidemenu {
    background-color: var(--bgcolor);
    color: var(--blanco);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 700ms;
}

#sidemenu a {
    color: var(--blanco);
    text-decoration: none;
}

#sidemenu #header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title {
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title, #sidemenu #header #menu-btn {
    vertical-align: middle;
}

#sidemenu #header #menu-btn {
    display: inline-block;
}

#sidemenu #header #menu-btn {
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburger {
    background-color: var(--blanco);
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

#sidemenu #profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

#sidemenu #profile #photo {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#sidemenu #profile #photo img {
    border-radius: 50%;
    width: 60%;
}

#sidemenu #profile #photo, #sidemenu #profile #name {
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}

#sidemenu #menu-items {
    overflow: hidden;
}

#sidemenu #menu-items .item {
    width: var(--width);
}

#sidemenu #menu-items .item .icon {
    display: inline-block;
}

#sidemenu #menu-items .item .icon, 
#sidemenu #menu-items .item .title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a {
    display: block;
}

#sidemenu #menu-items .item a:hover {
    background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .icon {
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-items .item .icon i {
    font-size: 20px;
}

#sidemenu #menu-items .item .title {
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separator {
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

.menu-expanded {
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeInLeft;
    animation-duration: 1s;
}

.menu-expanded #header #title {
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title span {
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;
}

.menu-expanded #profile #photo {
    width: 200px;
}

.menu-expanded #profile #name {
    width: 100%;
}

.menu-collapsed {
    width: var(--width-collapsed);
}

.menu-collapsed #header #title {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name {
    display: none;
}

.menu-collapsed .item {
    width: 100px;
}

.cuadricula {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.margen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    backdrop-filter: blur(10px);
    width: 364px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 12px;
}
.margen div{
    font-size: 12px;
}
.direccion-input{
    display: flex;
    flex-direction: row;
}
.size-in-name input{
    width: 120px;
    height: 30px;
}
.size-in-last input{
    width: 120px;
    height: 30px;
    margin-left: 10px;
}
.direccion-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.size-in-email input{
    width: 260px;
    height: 30px;
    margin-top: 10px;
}
.posicion-date{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}
.date{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}
.size-date{
    width: 83px;
    margin-bottom: 10px;
}
.size-date1{
    width: 83px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.gender{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    
}
.gender-box{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid gray;
    font-size: 13px;
    padding: 2px;
    background-color: white;
    border-radius: 2px;
}
.gender-box1{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid gray;
    font-size: 13px;
    margin-left: 14px;
    padding: 2px;
    background-color: white;
    border-radius: 2px;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 270px;
}
.register a{
    text-decoration: none;
}
.btn-register{
    background-color: crimson;
    width: 270px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    
}

h1 {
    color: #ffffffb6;
}

input {
    border-radius: 10px;
    padding-left: 10pxG;
}

/* Footer */

.nombre2 {
    box-sizing: border-box !important;
    color: rgba(212, 190, 190, 0.9);
    font: normal 70px Varela Round, sans-serif;
    height: 30px;
    letter-spacing: 5px;
    position: relative;
    top: -64px;
    text-align: center;
    text-transform: uppercase;
    animation: move linear 2000ms infinite;
    margin-left: 1px;
}


@keyframes move {
    0% {
    text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1);
    }
    25% {    
    text-shadow:      
        -4px -4px 0 hsla(180, 100%, 50%, 1), 
        -3px -3px 0 hsla(180, 100%, 50%, 1), 
        -2px -2px 0 hsla(180, 100%, 50%, 1), 
        -1px -1px 0 hsla(180, 100%, 50%, 1),
        4px 4px 0 hsla(0, 100%, 50%, 1), 
        3px 3px 0 hsla(0, 100%, 50%, 1), 
        2px 2px 0 hsla(0, 100%, 50%, 1), 
        1px 1px 0 hsla(0, 100%, 50%, 1);
    }
    50% {
    text-shadow:
        -4px 4px 0 hsla(0, 100%, 50%, 1), 
        -3px 3px 0 hsla(0, 100%, 50%, 1), 
        -2px 2px 0 hsla(0, 100%, 50%, 1), 
        -1px 1px 0 hsla(0, 100%, 50%, 1),
        4px -4px 0 hsla(180, 100%, 50%, 1), 
        3px -3px 0 hsla(180, 100%, 50%, 1), 
        2px -2px 0 hsla(180, 100%, 50%, 1), 
        1px -1px 0 hsla(180, 100%, 50%, 1);
    }
    75% {
    text-shadow:
        4px 4px 0 hsla(180, 100%, 50%, 1), 
        3px 3px 0 hsla(180, 100%, 50%, 1), 
        2px 2px 0 hsla(180, 100%, 50%, 1), 
        1px 1px 0 hsla(180, 100%, 50%, 1),
        -4px -4px 0 hsla(0, 100%, 50%, 1), 
        -3px -3px 0 hsla(0, 100%, 50%, 1), 
        -2px -2px 0 hsla(0, 100%, 50%, 1), 
        -1px -1px 0 hsla(0, 100%, 50%, 1);
    }
    100% {
    text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1);
    }  
}


h2{
    text-align: center;
}

.redes-sociales{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
}

.redes-sociales ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.redes-sociales ul li {
    list-style: none;
    margin-right: 10px;
}

h3{
    text-align: center;
    font-size: 10px;
    color: var(--blanco);
}

.pepe {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 0;
}

footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: start;
    background-color: var(--bgcolor);
    margin-top: 100px;
    padding-top: 1rem;
}

#facebook {
    color: #113872;
}

#instagram {
    color: #c7680f;
}

#twitter {
    color: #0d97f3;
}

#youtube {
    color: #dd0404;
}

/* Media Querys*/


@media (max-width: 830px){
    .footer div{
        display: flex;
        flex-direction: column;
    }
    .nombre2{
        color: rgba(212, 190, 190, 0.9);
        font: normal 10px Varela Round, sans-serif !important;
        position: initial !important;
        text-align: center;
        margin-left: 10px !important;
        width: 120px !important;
        height: 200px !important;
    }
}
